.caja1{
    width:80px;
    height:32px;
    background-color:#FFF5F5;
    padding:8px;
    margin-bottom:8px;   
   }
   .caja2{
       width:64px;
       height:32px;
       background-color:#FED7D7;
       padding:8px;
       margin-bottom:8px;   
   }
   .caja3{
       width:82px;
       height:32px;
       background-color:#FEB2B2;
       padding:8px;
       margin-bottom:8px;   
   }
   .caja4{
       width:96px;
       height:32px;
       background-color:#FC8181;
       padding:8px;
       margin-bottom:8px;   
   }
   .caja5{
       width:112px;
       height:32px;
       background-color:#F56565;
       padding:8px;
       margin-bottom:8px;   
   }
   .caja6{
       width:128px;
       height:32px;
       background-color:#E53E3E;
       padding:8px;
       margin-bottom:8px;   
   }
   .caja7{
       width:144px;
       height:32px;
       background-color:#C53232;
       padding:8px;
       margin-bottom:8px;
          
   }
   .caja8{
       width:162px;
       height:32px;
       background-color:#982C2C;
       padding:8px;
       margin-bottom:8px;   
   } 
   .caja9{
       width:176px;
       height:32px;
       background-color:#742A2A;
       padding:8px;
       margin-bottom:8px;   
   }
   .box1{
    width:80px;
    height:32px;
    background-color:#FFF5F5;
    padding:8px;
    margin-bottom:8px;
    border-radius:6px;
    margin-left:8px;   
   }
   .box2{
       width:80px;
       height:32px;
       background-color:#FED7D7;
       padding:8px;
       margin-bottom:8px;
       border-radius:6px;  
       margin-left:16px; 
   }
   .box3{
       width:80px;
       height:32px;
       background-color:#FEB2B2;
       padding:8px;
       margin-bottom:8px;
       border-radius:6px;
       margin-left:24px;
         
   }
   .box4{
       width:80px;
       height:32px;
       background-color:#FC8181;
       padding:8px;
       margin-bottom:8px;
       border-radius:6px;
       margin-left:32px;   
   }
   .box5{
       width:80px;
       height:32px;
       background-color:#F56565;
       padding:8px;
       margin-bottom:8px;
       border-radius:6px;
       margin-left:40px;   
   }
   .box6{
       width:80px;
       height:32px;
       background-color:#E53E3E;
       padding:8px;
       margin-bottom:8px;
       border-radius:6px;
       margin-left:48px;   
   }
   .box7{
       width:80px;
       height:32px;
       background-color:#C53232;
       padding:8px;
       margin-bottom:8px;
       border-radius:6px;
       margin-left:56px;   
   }
   .box8{
       width:80px;
       height:32px;
       background-color:#982C2C;
       padding:8px;
       margin-bottom:8px;
       border-radius:6px;
       margin-left:64px;   
   } 
   .box9{
       width:80px;
       height:32px;
       background-color:#742A2A;
       padding:8px;
       margin-bottom:8px;
       border-radius:6px;
       margin-left:72px;   
   }
   .contenedor1{
       width:176px;
       height:176px;
       background-color:#742A2A;
       padding:12px;
       border-radius:6px;
       display:flex;  
       justify-content: center;
   }
   .contenedor2{
       width:160px;
       height:160px;
       background-color:#982C2C;
       padding:12px;
       border-radius:6px;
       display:flex; 
       justify-content: center; 
        align-items:center; 
   }
   .contenedor3{
       width:144px;
       height:144px;
       background-color:#C53232;
       padding:12px;
       border-radius:6px;
       display:flex;  
       justify-content: center;
   }
   .contenedor4{
       width:128px;
       height:128px;
       background-color:#E53E3E;
       padding:12px;
       border-radius:6px;
       display:flex; 
       justify-content: center; 
        align-items:center;   
   }
   .contenedor5{
       width:112px;
       height:112px;
       background-color:#F56565;
       padding:12px;
       border-radius:6px;
       display:flex; 
       justify-content: center; 
        align-items:center;   
   }
   .contenedor6{
       width:96px;
       height:96px;
       background-color:#FC8181;
       padding:12px;
       border-radius:6px;
       display:flex; 
       justify-content: center; 
        align-items:center;   
   }
   .contenedor7{
       width:80px;
       height:80px;
       background-color:#FEB2B2;
       padding:12px;
       border-radius:6px;
       display:flex;   
       justify-content: center; 
        align-items:center; 
   }
   .contenedor8{
       width:64px;
       height:64x;
       background-color:#FED7D7;
       padding:12px;
       border-radius:6px;
       display:flex;  
       justify-content: center; 
       align-items:center;  
   }
   .contenedor9{
       width:48px;
       height:48px;
       background-color:#FFF5F5;
       padding:12px;
       border-radius:6px;
       display:flex;     
       justify-content: center; 
       align-items:center;
   }
   
   .margin1{
       padding: 48px;
   }
   
   .margin2{
       padding: 48px;
   }