@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  font-family: 'Roboto', sans-serif; 
  font-size: 14px;
  background-color: beige;
}
.enlace-blue{
  text-decoration:none;
  color: #4299e1;
  margin: 8px;
}
.espacio{
  padding-top: 24px;
  padding-bottom: 24px;     
}
.caja{
    background-color: #000000;
    color: #fff;
    width: 40px; 
    height: 40px; 
    position:static; 
    left: 48px; 
}

.caja2{
    background-color: #000000;
    color: #fff;
    width: 40px; 
    height: 40px; 
    position:relative; 
    left: 48px; 
    top: 48px;  
}

.fixed{
    padding: 12px;
    position:fixed;
    background-color: #000000;
    color: #fff;
    width: 40px; 
    height: 40px; 
    left: 48px; 
    top: 48px; 
}

.absolute{
    padding: 12px;
    position:absolute;
    background-color: #000000;
    color: #fff;
    width: 40px; 
    height: 40px; 
    left: 48px; 
    top: 48px; 
}



h1{
  font-size: 30px;
  text-align:center;
}