@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Mukta&family=Open+Sans:ital@1&family=Oswald:wght@300&family=Roboto:ital@0;1&family=Silkscreen&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.titulo{
    color: blue;
    text-align: center;
    margin: 10px;
}

.opciones{
    width: 1000px;
    margin: auto;
    text-align: center;
    border-radius: 1px solid #000;
}

.enlaces{
    text-decoration:none;
    color: #4299e1;
    margin: 12px;
    padding: 6px;
    background-color: aliceblue;
    border: 1px solid #000;
}
 
.espacio{
    width: 1000px;
    height: 700px;
    margin: auto;
    
    
}

.header{
    width: 992px;
    height: 150px;
    clear: both;
    float: center;
    text-align: center;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: aliceblue;
    margin: 2px 4px 2px 4px;
}

.menu{
    width: 992px;
    height: 150px;
    clear: both;
    float: center;
    text-align: center;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: aliceblue;
    margin: 2px 4px 2px 4px;
    
}


.content1{
    width: 200px;
    height: 300px;
    float: left;
    text-align: center;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: aliceblue;
    margin: 2px 4px 2px 4px;
}

.maincontent{
    width: 580px;
    height: 300px;
    float: left;
    text-align: center;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: aliceblue;
    margin: 2px 2px;
}

.content2{
    width: 200px;
    height: 300px;
    float: left;
    text-align: center;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: aliceblue;
    margin: 2px 4px 2px 4px;

}

.footer{
    width: 992px;
    height: 150px;
    clear: both;
    float: center;
    text-align: center;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: aliceblue;
    margin: 2px 4px 2px 4px;
}
